body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input::placeholder {
  padding: 0.5rem;
}
.list {
  /* font-size: 4rem !important; */
  /* border: 1px solid blue; */
}
.list1 {
  /* border: 1px solid red; */
}
.list::after {
  /* content: "";
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  transition: width 0.5s ease; */
}
/* .list:hover::after {
  width: 20px;
  bottom: -1px; */
/* } */
.list:hover {
  /* font-size: 2rem; */
}
